<p id="add-collaborator">Add a wiki collaborator</p>
<%= form_for [wiki, Collaborate.new] do |f| %>
     <%= f.text_field :user, class: 'form-control', placeholder: "Enter email address" %>
     <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
