
<div class="jumbotron">
<div class="row">
  <div class="col-md-8">
    <h1>Make your wikis here at blocipedia!</h1>
    <h3>Key features</h3>
    <ul>
      <li>Markdown is supported, just type it into the intake fields and off you go!</li>
      <li>Sign-up for a premium membership to create private wikis, add and manage collaborators! Your collaborators will be able to participate regardless of whether they have a premium membership.
      </li>
      <li>Subscriptions are as easy and fast, cancel any time!</li>
    </ul>
  </div>
</div>
</div>
