<div class="row">
  <div class="col-md-8">
    <h1>Make your wikis here at blocipedia!</h1>
    <h3>A fan of markdown?</h3>
    <ul>
      <li>Blocipedia supports markdown!</li>
      <li>just type it into the intake fields, and off you go!</li>
    </ul>
    <h3>Want to add collaborators?</h3>
    <ul>
      <li>Blocipedia supports wiki collaborations.</li>
      <li>Sign up for a premium membership, and add collaborators!</li>
    </ul>
    <h3>Need some privacy?</h3>
    <ul>
      <li>Blocipedia supports private wikis.</li>
      <li>Sign up for a premium membership to see private wikis, or add collaborators!</li>
    </ul>
  </div>
</div>
