<div class="row">
  <div class="col-md-8">
    <h1>Make your wikis here at blocipedia!</h1>
    <h3>A fan of markdown?</h3>
    <ul>
      <li>blocipedia supports markdown!</li>
      <li>just type it into the intake fields, and off you go!</li>
    </ul>
  </div>
</div>
