
<div class="row">
  <div class="col-md-8">
  <h1>Wiki Topics</h1>
  <h4><em>Click to start contributing now!</em></h4>
    <% @wikis.each do |wiki| %>
    <% if (current_user.admin? || current_user.premium? || wiki.users.include?(current_user)) || !(wiki.private?) %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
          </h4>
        </div>
      </div>
    <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-8">
       <%= link_to "New wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
